<!DOCTYPE html>
<html>
<head>
  <title>Core</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "core/application", media: "all" %>
  <%= javascript_include_tag "core/application" %>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light
                  navbar-inverse navbar-fixed-top mb-4">
    <%= link_to 'BlastCRM', root_path, class: 'navbar-brand' %>
  </nav>

  <% flash.each do |key, value| %>
    <div class="<%= flash_class(key.to_sym) %>"><%= value %></div>
  <% end %>

  <%= yield %>

</body>
</html>
